:root {
  --softBlue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
  --darkBlueMain: hsl(217, 54%, 11%);
  --darkBlueCard: hsl(216, 50%, 16%);
  --darkBlueLine: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
}

.container {
  height: 100vh;
  background-color: var(--darkBlueMain);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--darkBlueCard);
  height: 596px;
  width: 350px;
  border-radius: 15px;
  padding: 24px;
}

.container-overlay {
  position: relative;
}
.container-overlay:hover .overlay {
  opacity: 1;
}
.card__img {
  width: 302px;
  height: 302px;
  border-radius: 8px;
  margin-bottom: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 302px;
  width: 302px%;
  opacity: 0;
  transition: 0.3s ease;
  border-radius: 8px;
  background-color: rgba(0, 255, 248, 0.5);
}
.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card__heading {
  font-weight: 600px;
  font-size: 22px;
  line-height: 26px;
  color: var(--white);
  margin-bottom: 16px;
}

.card__heading:hover {
  color: var(--cyan);
  cursor: pointer;
}

.card__description {
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: var(--softBlue);
  margin-bottom: 24px;
}

.card__price {
  display: flex;
  justify-content: space-between;
}

.price__div {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.price__text {
  font-weight: 600;
  color: var(--cyan);
  font-size: 16px;
  line-height: 20px;
  margin-left: 7.7px;
  display: inline-block;
}

.card__divider {
  color: var(--darkBlueLine);
  height: 1px;
  margin-bottom: 16px;
}

.card__avatar {
  display: flex;
  align-items: center;
}

.avatar__img {
  height: 33px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 16px;
}
.avatar__name {
  color: var(--softBlue);
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.avatar__name strong {
  color: var(--white);
}

.avatar__name strong:hover {
  color: var(--cyan);
  cursor: pointer;
}
